{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <input id="button" type="button" value="Recuperer les produits" />

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_produit</th>
                <th>Ref_produit</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody id="produits">
            <script>
                $("#button").click(listedesproduits);

                function listedesproduits(){
                    $.ajax({
                        url: "http://localhost:8000/produit",
                        type: "GET",
                        dataType : "json",
                        success: function(produits) {
                            $('#produits').append($('<ul>'));
                            for(let i=0;i<produits.length;i++){
                                $('#produits ul')
                                .append($('<li>')
                                .append($('<a>')
                                    .text(produits[i].title)
                                    ).on("click", produits[i], details)
                                );
                                    }
                                },
                        error: function(req, status, err) {
                                    $("#produits").html("<b>Impossible de récupérer les taches à réaliser !</b>");
                                    }
                                    });
                    }});
            </script>
        </tbody>
    </table>
    {# <a href="{{ path('produit_new') }}">Create new</a> #}
{% endblock %}
